.job {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 2.5em 3em;
  box-shadow: 0 0 10px 5px hsla(180, 29%, 50%, 0.205);
  border-radius: 5px;
}

.featured {
  border-left: 0.3em solid var(--dd-cyan);
  padding-left: 2.7em;
}

.col-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.company {
  color: var(--dd-cyan);
  font-size: 1rem;
}

.new-btn,
.featured-btn {
    color: var(--lg-cyan-ft);
    background-color: var(--dd-cyan);
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.57em 0.8em;
    text-transform: uppercase;
    border: none;
    border-radius: 2em;
    cursor: pointer;
}

.featured-btn {
    background-color: var(--vd-cyan)
}

.position {
  color: var(--vd-cyan);
  font-size: 1.5rem;
}

.line-1 {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.line-3 {
  color: var(--dg-cyan);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.line-3 span {
  display: block;
}

.col-2 {
  display: flex;
  gap: 1rem;
}

.tablet {
  display: block;
  color: var(--dd-cyan);
  font-weight: 700;
  background-color: var(--lg-cyan-ft);
  padding: 0.6em;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
