.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}

header {
  width: 100%;
  height: 10rem;
  background-image: url("../assets/images/bg-header-desktop.svg");
  background-color: var(--dd-cyan);
}

.jobs {
  width: min(70rem, 100%);
  margin: 3em 1em 0 1em;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 1000px) {
  .jobs {
    gap: 4rem;
  }
}